 
        <h1 id ="h1">Hello World! This is... BATMAN!</h1>
        
        <h2 class ="intro">Na na na na na na na na BATMAN! This is the to do list! It tells you about the homework <br> you need to do, errands you need to run, and possible upcoming events!</h2>
            
        <h2 class ="hw-title">Homework To Do</h2>
          <ul>
            <a href ="show/1"><input type = "checkbox">Do Physics - review sheet<br></a>
            <a href ="show/2"><input type = "checkbox">Do Global - Chapter 3 in textbook<br></a>
            <a href ="show/3"><input type = "checkbox">Do Trig - pages 34 - 42 in textbook<br></a>
            <a href ="show/4"><input type = "checkbox">Do Spanish - project on spanish speaking country<br></a>
          </ul>
        <button>Motivational Quote</button>
            <p>-------------------------------------------------------------------------------------------------</p>
        <h3>Chores & Events</h3>
            <a href ="show/1"><input type = "checkbox">Babysit the dog<br></a>
            <a href ="show/1"><input type = "checkbox">Tutor the kids<br></a>

