<h2>Add a new todo...</h2>

<form action="create">
  <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a new todo...">
  <input class="text-input" id="order" name="order" type="number" placeholder="order...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</form>